body {
    background-color: #777;
    font-family: 'Roboto', sans-serif;
    color: #464646;
    padding: 0;
    margin: 0;
}

p {
   margin: 0;
}

/*******************
****** Navbar ******
*******************/

.navbar {
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin: .5rem 1rem;
}

.navbar-toggler {
    margin: .5rem 1rem;
    color: #464646;
    
}

.navbar-brand span {
    color: #17B978;
}

.nav-link {
    margin: .3rem 1rem;
    color: white!important;
    font-size: 1rem;
}

.navbar-nav {
    background-color: #17B978;
}


/*******************
****** Footer ******
*******************/


/** centrage des div + tous les H2/H5 du footer */ 


.footer_h2{
    padding-top: 2em;
    padding-bottom: 1rem;
}
footer div {
    margin: 1em auto 0;
    padding-bottom: 0.4em;

}

.footer_flex h5{
    color: white;
    font-weight: 900;
    padding-bottom: 2.6rem;
}

/** font + couleur du titre PAJENEWS */
.footer_page--green{
    color: #17B978;
    font-weight: bolder
}

.footer_page--white{
    color: white;
    font-weight: bolder;
}


.footer_police--grey{
    color: #C5C5C5;
}

/** icone des réseaux sociaux */
.fab{
    padding: 0.3em;
}
.footer_reseau {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer div > div { /* écartement des divs du footer entre elles */
    margin: 1rem;
}

footer div > p { /* écartement des P du footer entre eux */
    padding-bottom: 1em;
}

/** fixation des dimensions des images */

.footer_img {
    min-height:0;
    min-width:0;
}

/* position post catégory */

.footer_posts{
    margin: 0;
}

.footer_hotfix{
    margin: 0;
}



/** début des copyright */

.copyright {  
    color: white;
    background-color: #151515;
    font-size: .9rem;
    text-align: center;
    padding: 1rem 1rem;  
}

.footer_desc{
    font-size: 0.8rem;
}

.footer_time{
    font-size: 0.5rem;
}


/* couleur des liens */


.footer_green {
    color: #16B374;
}

.footer_blue {
    color: #0466D0;
}

footer > .footer_bg {
    background-color: #222222;
}

/* hover des liens */ 

.footer_green:hover{
    color: #16B374;
}
.footer_blue:hover{
    text-decoration: none;
}

/* cadrage de l'encart copyright */ 

.copyright{
    margin-top: 0;
    padding-top: 1.8em;
}





/*
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/